{% load socialaccount %}
<html>
<body>
<h1>My Google OAuth Project </h1>
{% if user.is_authenticated %}

    <form action = "/input_test/" method = "post"> 
        {% csrf_token %}

        <label for="URL">Youtube URL: </label> 
        <input id="URL" type="text" name="URL"> 
        
        <br>
        <br>
        <br>

        <label for="message">Youtube Message: </label> 
        <input id="message" type="text" name="message"> 
        <input type="submit" value="OK"> 
    </form> 

{% else %}
  <a href="{% provider_login_url 'google' %}">Login With Google</a>
{% endif %}
</body>
</html>