
 
{% include "navbar.html" %}


{% load embed_video_tags %}


{% video videoDetails.title "large" %}



    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-messaging.js"></script>
<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  // server key AAAAFekyACM:APA91bHOZF1RpfDGiPhjwGwR8Uib_XTAFSe2sanZUid8C9eh6VQTXcJczxjyltoG3IOq9sm3x-rO6n6IPq6Vl1MHm843BhSY4GugXb8eHko0ZdrMJ_bwWIa3t2daCzadxJ_OCeFg19Ee
  // sender id 94106681379
  
  Notification.requestPermission().then(function(result) {
    console.log("teststs")
  console.log(result);
});

  var config = {
        messagingSenderId: "94106681379",
        apiKey: "AIzaSyC3ulOqdD4me7DZf_bu1yNomPDIx335QZg",
        projectId: "chattranslator-2c03a",
        appId: "1:94106681379:web:e2b7ac5596fd4226943196",
    };
    firebase.initializeApp(config);
    console.log("made it baybee firebase js online ");  

  const messaging = firebase.messaging();
        Notification.requestPermission()
                .then(function () {
                    MsgElem.innerHTML = 'Notification permission granted.';
                    console.log('Notification permission granted.');

                    // get the token in the form of promise
                    console.log("nyampe sini blm")
                    return messaging.getToken();
                    console.log("nyampe sini error")
                })
                .then(function (token) {
                    TokenElem.innerHTML = 'Device token is : <br>' + token;
                })
                .catch(function (err) {
                    ErrElem.innerHTML = ErrElem.innerHTML + '; ' + err;
                    console.log('Unable to get permission to notify.', err);
                });
            let enableForegroundNotification = true;
            console.log("yesit is")
            messaging.onMessage(function (payload) {
                console.log('Message received. ', payload);
                NotisElem.innerHTML =
                    NotisElem.innerHTML + JSON.stringify(payload);

                // if (enableForegroundNotification) {
                //     let notification = payload.notification;
                //     navigator.serviceWorker
                //         .getRegistrations()
                //         .then((registration) => {
                //             registration[0].showNotification(notification.title);
                //         });
                // }
            });
</script>

<div id="token" style="overflow: auto"></div>
    <div id="msg"></div>
    <div id="notis"></div>
    <div id="err"></div>
    <script>
       MsgElem = document.getElementById("msg")
       TokenElem = document.getElementById("token")
       NotisElem = document.getElementById("notis")
       ErrElem = document.getElementById("err")
    </script>