<html>
    <head>
        {% load embed_video_tags %}
        <title>ChatTranslator</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-messaging.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.2/firebase-analytics.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script>
            window.onload =function(){
                button1 = document.getElementById("translate-button")
                button2 = document.getElementById("send-button")
                textarea1 = document.getElementById("sendytmessage").disabled = true;
                check_livechat();
            };
            const messages = [];

            let toggleStatus = false //false - 'ORIGINAL', true - 'TRANSLATED'

            var MsgElem = document.getElementById("msg"); 

            function scrollFunction() {
                var $panel = $('#msg');
                var shouldScroll = $panel.scrollHeight - $panel.height() <= $panel.scrollTop(); 

                if (shouldScroll) {
                    $panel.scrollTop($panel.scrollHeight);
                }
            }


            function toggleMessage(){
                var x = document.getElementById("toggleButton");
                if (x.innerHTML === "Translated") {
                    x.innerHTML = "Original";
                } else {
                    x.innerHTML = "Translated";
                }
                toggleStatus = !toggleStatus
                renderChat()
            }

            function renderChat(){
            let renderString = '';
            messages.forEach(element=>{         
                renderString += element.data.author +': ';
                renderString += (toggleStatus) ? element.data.message+'<br>' : element.data.translated_message+'<br>';
                MsgElem.innerHTML = renderString;
            });
            }

            Notification.requestPermission().then(function(result) {
                console.log("teststs")
                console.log(result);
            });
            var config = {
                messagingSenderId: "94106681379",
                apiKey: "AIzaSyC3ulOqdD4me7DZf_bu1yNomPDIx335QZg",
                projectId: "chattranslator-2c03a",
                appId: "1:94106681379:web:e2b7ac5596fd4226943196",
            };
            firebase.initializeApp(config);
            console.log("made it baybee firebase js online ");  
        
            const messaging = firebase.messaging();
                Notification.requestPermission()
                    .then(function () {
                        console.log('Notification permission granted.');
    
                        // get the token in the form of promise
                        console.log("nyampe sini blm")
                        return messaging.getToken();
                        console.log("nyampe sini error")
                    })
                    .then(function (token) {
                        function csrfSafeMethod(method) {
                            // these HTTP methods do not require CSRF protection
                            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                        };
                        $.ajaxSetup({
                            beforeSend: function(xhr, settings) {
                                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                    xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
                                }
                            }
                        });
                        var a = "{{title}}";
                        console.log(token);
                        console.log(a);
                        console.log("{{csrf_token}}")
                        var loc = window.location;
                        var wsStart = 'ws://';
                        if (loc.protocol == 'https:') {
                            wsStart = 'wss://'
                        }
                        var endpoint = wsStart + loc.host + '/start_chat/'

                        var socket = new WebSocket(endpoint);
                        var datainit = JSON.stringify({"url": a, "token": token});
                        if (socket.readyState === 1) {
                            socket.send(datainit);
                        } else {
                            setTimeout(function () {
                                socket.send(datainit);
                            }, 2000);
                        };
                    //   $.ajax({
                    //       type: "POST",
                    //       url: "/view_message/",
                    //       contentType: "application/json",
                    //       dataType: "json",
                    //       data: JSON.stringify({"url": a, "token": token,"csrfmiddlewaretoken": "{{csrf_token}}" }),
                    //       success: function(response) {
                    //           console.log("success");
                    //       },
                    //       error: function(response) {
                    //           console.log(response);
                    //       }
                    //   });
                })
                .catch(function (err) {
                    console.log('Unable to get permission to notify.', err);
                });
            let enableForegroundNotification = true;
            console.log("yesit is")
            messaging.onMessage(function (payload) {
                console.log('Message received. ', payload);
                messages.push(payload);
                console.log(messages)
                function sleep(milliseconds) {
                const date = Date.now();
                let currentDate = null;
                do {
                    currentDate = Date.now();
                } while (currentDate - date < milliseconds);
                }
                var mybr = document.createElement('br');
                var myhr = document.createElement('hr');
                console.log(JSON.stringify(payload['data']['message']))
                if (JSON.stringify(payload['data']['message']) == '"VIDEO IS NOT A LIVE STREAM"') {
                    alert("Video is not a livestream");
                    document.getElementById("translate-button").disabled = true;
                    document.getElementById("send-button").disabled = true;
                    document.getElementById("sendytmessage").disabled = true;
                } else {
                    console.log(JSON.stringify(payload['data']['author'])+", " + "message: " + JSON.stringify(payload['data']['translated_message']));
                    setTimeout(function(){ 
                        // MsgElem.append("Author: "+JSON.stringify(payload['data']['author'])+", " + "message: " + JSON.stringify(payload['data']['translated_message'])); 
                        // MsgElem.append(mybr);
                        // MsgElem.append(mybr);
                        renderChat()
                    }, 1000);
                    
                }

            });
            function translate_send(){
                function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                };
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
                        }
                    }
                });
                if($("#sendytmessage").val().trim().length < 1)
                {
                    alert("Please Enter Text...");
                    return; 
                }
                else{
                    message = document.getElementById("sendytmessage").value;
                    console.log(message)
                };
                $.ajax({
                    type: "POST",
                    url: "http://localhost:5000/translate_send",
                    dataType: "json",
                    data: JSON.stringify({"message": message,"csrfmiddlewaretoken": "{{csrf_token}}" }),
                    xhrFields: {
                    withCredentials: true
                    },
                    crossDomain: true,
                    contentType: 'application/json; charset=utf-8',
                    success: function(response) {
                        console.log("success");
                        console.log(response);
                        document.getElementById("translatedytmessage").innerHTML = response['message'];
                    },
                    error: function(response) {
                        console.log(response);
                        alert("Oh no, something went wrong with translating your message");
                    }
                });
            };
            function send_message(){
                function csrfSafeMethod(method) {
                        // these HTTP methods do not require CSRF protection
                        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                    };
                    $.ajaxSetup({
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", "{{csrf_token}}");
                            }
                        }
                    });
                    console.log('hey');
                    if($("#translatedytmessage").val().trim().length < 1)
                    {
                        console.log('translated checking');
                        if($("#sendytmessage").val().trim().length < 1)
                        {
                            alert("Please Enter Text...");
                            return; 
                        }
                        else{
                            message = document.getElementById("sendytmessage").value;
                            console.log(message)
                        };
                    }
                    else
                    {
                        message = document.getElementById("translatedytmessage").value;
                    };
                    if (window.confirm("Are you sure?")) {
                        $.ajax({
                            type: "POST",
                            url: "/send_message/",
                            dataType: "json",
                            data: JSON.stringify({"url":"{{title}}","message": message,"csrfmiddlewaretoken": "{{csrf_token}}" }),
                            contentType: 'application/json; charset=utf-8',
                            success: function(response) {
                                alert("Message sent successfully");
                                document.getElementById('sendytmessage').value = ''
                                document.getElementById("translatedytmessage").value = "";
                            },
                            error: function(response) {
                                console.log(response);
                                alert("Oh no something went wrong with sending your message");
                            }
                        });
                    }
                    else{
                        alert("Ok");
                        return; 
                    }
            };
            function check_livechat(){
                console.log("{{livechatstatus}}");
                if ("{{livechatstatus}}" == "alive"){
                    document.getElementById("translate-button").disabled = false;
                    document.getElementById("send-button").disabled = false;
                    document.getElementById("sendytmessage").disabled = false;
                }
                else if ("{{livechatstatus}}" == "dead"){
                    document.getElementById("translate-button").disabled = true;
                    document.getElementById("send-button").disabled = true;
                    document.getElementById("sendytmessage").disabled = true;
                }
            };
        </script>   
    </head>
    <body style = 'margin:0;padding:0;'>
        <div style='max-height:10%;margin-bottom: 10px;'>
            {% include "navbar.html" %}
        </div>
        <div class="row h-90 w-100 " style = "margin:0;padding:0;overflow-x:hidden;height:90%;" >
            <div class="col-8" style="margin-right:0px;">
                {% video title "100%x100%" %}
            </div> 
            <div id ='chatbox'class="col-4">
                <button class='btn btn-secondary'id='toggleButton'onclick='toggleMessage()'>Translated</button>    
                <h5 class='bg-danger text-center' style='height:30px;width: 425px;margin-right:0;padding-right:0;margin-bottom:0px;'>Chatbox</h5>
                <div id="msg" class='border border-dark' style = '     overflow-anchor: none !important;
                scroll-snap-stop: normal !important;
                overscroll-behavior: unset !important;
                scroll-behavior: unset !important;padding-top:0px;width: 425px; height: 500px; overflow: scroll; display:flex; flex-direction:column-reverse;margin-right:0;padding-right:0;' onscroll = 'scrollFunction()'></div>
                <script>
                    MsgElem = document.getElementById("msg")
                    var objDiv = document.getElementById("chatbox");
                    objDiv.scrollTop = objDiv.scrollHeight; 
                </script>
                <!-- <button onclick="topFunction()" id="myBtn"  class ='btn-light' title="Go to top">Top</button> -->
                <div id = 'send message form' style='width:425px;margin-right:0;padding-right:0;'>
                        <textarea id="sendytmessage" name="sendytmessage" rows="4" cols="25" placeholder="Insert message here"></textarea>
                        <textarea disabled id="translatedytmessage" rows="4" cols="25" placeholder="Translated message will appear here"></textarea>
                        <button type="button" id='translate-button' class='btn btn-secondary' style = 'margin: 0px;' onclick = 'translate_send()' >Translate message</button>
                        <button type="button" id='send-button' class='btn btn-primary' style = 'margin: 0px;' onclick = 'send_message()' >Send message</button>  
                </div>
            </div> 
        </div>
    </body>
</html>
